= form_for @todo, html: { class: "large-6 large-centered columns" } do |f|
  %fieldset
    %legend Editing todo

    - if @todo.errors.any?
      #error_explanation
        %h2= "#{pluralize(@todo.errors.count, "error")} prohibited this todo from being saved:"
        %ul
          - @todo.errors.full_messages.each do |msg|
            %li= msg

    = f.text_field :name
    = f.submit 'Save'
    %div= link_to 'Back', todos_path
