%h1 To-Dos

#todos
  - @todos.each do |todo|
    = render todo

%br

= form_for Todo.new, remote: true do |f|
  .field
    = f.label :name
    = f.text_field :name, required: true
  .actions
    = f.submit 'Save'
